@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}
img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
}
a {
    text-decoration: none;
}
.container {
    width: 90dvw;
    max-width: 1200px;
    margin: 0px auto;
}

#grid-layout {
    display: grid;
    grid-template-rows: max-content minmax(0px, 1fr);
    height: 100dvh;
}
#grid-layout header {
    background-color: #111;
}
header nav {
    display: flex;
    gap: 50px;
    align-items: center;
    a {
        color: #eee;
    }
    .logo {
        margin-right: auto;
    }
    div {
        display: flex;
        gap: 25px;
        padding: 15px 0px;
    }
}

#hero-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/hero6.jpg");
    background-size: cover;
}
#hero-1 > .container {
    text-align: center;
    a {
        display: inline-block;
        padding: 10px 30px;
        background-color: #3c3293;
        color: white;
        width: auto;
        transition: padding 0.5s;
        &:hover {
            padding: 10px 45px;
        }
    }
}
#hero-1 .cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 25px 0px;
    .card {
        max-width: 250px;
        background-color: #eee0;
        backdrop-filter: blur(8px);
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        aspect-ratio: 1 / 1;
        position: relative;
        border-radius: 25px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background: linear-gradient(45deg, #bdb7f433, #327e9388);
            z-index: -1;
            border-radius: 25px;
        }
    }
    img {
        max-height: 150px;
    }
    a {
        font-size: 0.9rem;
        width: max-content;
        margin: 0px auto;
    }
}

#banners {
    height: 100dvh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#banners .banner {
    background-image: url("../images/hero2.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    .container {
        width: max-content;
        margin: 0px auto 0px 5dvw;
    }
    p {
        max-width: 500px;
        margin: 10px 0px 30px;
    }
    a {
        display: inline-block;
        padding: 10px 30px;
        background-color: #3c3293;
        color: white;
        width: auto;
        transition: padding 0.5s;
        &:hover {
            padding: 10px 45px;
        }
    }
    &:nth-of-type(2) {
        background-image: url("../images/hero4.jpg");
        justify-content: flex-end;
        text-align: right;
        .container {
            width: max-content;
            margin: 0px 5dvw 0px auto;
        }
    }
}

#hero-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/hero3.jpg");
    background-size: cover;
    background-position: top left;
    position: relative;
    img {
        width: 15%;
        max-width: 400px;
        margin-left: auto;
        object-fit: contain;
        animation: spin 40s infinite ease-in-out;
        position: absolute;
        bottom: 5dvh;
        right: 5dvw;
    }
    .container {
        width: max-content;
        margin: 0px 5dvw 50px 0px;
    }
    a {
        margin-top: 25px;
        display: inline-block;
        padding: 10px 30px;
        background-color: #3c3293;
        color: white;
        width: auto;
        transition: padding 0.5s;
        &:hover {
            padding: 10px 45px;
        }
    }
}