/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    width: 700px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 24px;
    background-color: coral;
}

#left-side, #right-side {
    display: inline-block;
    width: 65%;
}
#right-side {
    width: 34%;
    img {
        width: 100%;
    }
}

#small-pic-container,
#data-fields {
    display: inline-block;
}

#donor, #real-id {
    display: inline-block;
}
#real-id {
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 50%;
    text-align: center;
}

h4 {
    margin: 0px;
    background-color: navy;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}