* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

/* 
    For ALL Single Column Layouts: 
    - You need a Width, the value must be less than 100%
    - You need a Min-Width AND/OR a Max-Width, the value must be an absolute unit.

    For RIGHT-aligned Single Column Layouts:
    - In addition to the above, you need a margin-left with a value of auto

    For CENTER-aligned Single Column Layouts:
    - You will instead use a short-hand margin in addtion to the other requirments,
    the top and bottom value are up to you, but the LEFT and RIGHT margin value
    must be set to auto.
*/
.single-column {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
}

.light-container {
    background-color: lightgreen;
    padding: 48px 0px;
}
.dark-container {
    background-color: darkgreen;
    color: white;
    padding: 48px 0px;
}