@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');
:root {
    --main: #a30031;
    --sec: #ffd8e6;
    --acc: #62c3d9;
    --blk: #111;
    --wht: #fefefe;
    --wdt: 90dvw;
    --gtr: 5dvw;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 1.125rem;
}
h1, h2, h3 {
    font-family: "Yellowtail", serif;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: var(--blk);
    font-weight: 500;
    transition: color 0.5s;
    &:hover {
        color: var(--main);
    }
}
hr {
    border: none;
    border-bottom: 1px solid var(--blk);
}
svg {
    min-width: 1rem;
    fill: var(--blk);
}
.contain {
    width: var(--wdt);
    max-width: 1200px;
    margin: 0px auto;
}
.btn {
    display: inline-block;
    border: 2px solid var(--main);
    font-weight: 500;
    color: var(--main);
    padding: 10px 30px;
    transition: background-color 0.5s, color 0.5s, letter-spacing 0.5s;
    &:hover {
        background-color: var(--main);
        color: var(--sec);
        letter-spacing: -0.05em;
    }
}
.drop {
    position: relative;
    &:hover > .drop-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    &:hover a:has(img) {
        border-color: var(--acc);
    }
}
.drop-menu {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    width: max-content;
    box-shadow: -2px 2px 1px #1112;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    z-index: 2;
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s
    ;
}
.logo img {
    display: block;
    margin: 0px auto;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#ham {
    display: none;
    flex-direction: column;
    gap: 5px;
    span {
        background-color: var(--blk);
        width: 40px;
        height: 3px;
        border-radius: 5px;
        &:last-child {
            width: 30px;
        }
    }
}

header {
    height: 100dvh;
    position: relative;
}
header #subnav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 25px 0px;
    .contain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ". logo links";
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
    .logo {
        grid-area: logo;
        img {
            width: clamp(8rem, 100%, 13rem);
        }
    }
    .links {
        grid-area: links;
        justify-self: right;
        display: flex;
        align-items: center;
        gap: 25px;
    }
    a:has(img) {
        border-bottom: 2px solid transparent;
    }
    a img {
        width: 1.25rem;
    }
}
#hero, #hero > div, #hero .ic {
    height: 100%;
}
#hero > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". contents";
    align-items: center;
    gap: 60px;
}
#hero .ic {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48%;
    z-index: -1;
    img {
        display: block;
        height: 100%;
    }
}
#hero .content {
    grid-area: contents;
    h1 {
        font-size: clamp(2.5rem, 10vw, 8rem);
    }
    p {
        text-align: right;
        max-width: 380px;
        margin: 80px 0px 0px auto;
    }
    .btn {
        display: block;
        width: max-content;
        margin: 20px 0px 0px auto;
    }
}

nav {
    background-color: var(--sec);
    position: sticky;
    z-index: 3;
    top: 0px;
    opacity: 0.8;
    transition: opacity 0.5s;
    &:hover {
        opacity: 1;
    }
    .contain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
    .logo img {
        width: clamp(5rem, 100%, 10rem);
    }
    .links {
        display: flex;
        align-items: center;
        gap: 25px;
        &:last-of-type {
            justify-self: end;
        }
    }
    a:has(img) {
        border-bottom: 2px solid transparent;
    }
    a img {
        width: 1.25rem;
    }
    .links > a {
        padding: 25px 0px;
    }
    .drop-menu {
        background-color: var(--sec);
    }
}

section {
    padding: 100px 0px;
}
#s1 h2 {
    font-size: clamp(2rem, 6dvw, 4rem);
    margin-bottom: 40px;
}
#s1 .contain > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
    p {
        max-width: 500px;
    }
    .ic {
        min-height: 300px;
        height: 100%;
        img {
            height: 100%;
            object-position: top;
        }
    }
}
.separator .contain {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 40px auto;
    hr {
        flex: 1;
        border-bottom: 1px solid var(--blk);
    }
    p {
        flex: 2;
        text-align: center;
        text-wrap: pretty;
    }
}

#s2 > a.btn {
    display: block;
    width: max-content;
    margin: 40px auto 0px;
}
#s2 #cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}
#s2 #cards .card {
    flex: 1;
    height: 350px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    h2 {
        background-color: var(--blk);
        width: max-content;
        padding: 15px;
        color: var(--wht);
        font-size: 2.125rem;
    }
    .btn {
        position: relative;
        background-color: var(--main);
        color: var(--sec);
        display: flex;
        align-items: center;
        width: max-content;
        margin-left: auto;
        padding: 15px;
        font-size: 1.25rem;
        gap: 15px;
        backdrop-filter: blur(15px);
        border: none;
        &:hover {
            background-color: #fefefe55;
            color: var(--main);
            svg {
                fill: var(--main);
            }
        }
        span {
            order: 1;
            margin-left: auto;
        }
        svg {
            order: 2;
            width: 3rem;
            fill: var(--sec);
        }
    }
}

#s3 {
    min-height: 50dvh;
    background-image: url("../images/how-it-works.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#s3 .contain {
    background-color: #fefefe55;
    backdrop-filter: blur(15px);
    width: max-content;
    padding: 40px;
    text-align: center;
    h2 {
        font-size: 3rem;
        margin-bottom: 25px;
    }
}

footer {
    background-color: var(--blk);
    color: var(--wht);
    padding: 40px 0px;
    text-align: center;
    a {
        color: var(--wht);
    }
    #address {
        padding: 20px 0px 40px;
    }
    #times, .links {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 25px;
        align-items: center;
        justify-content: center;
    }
    .links.b {
        padding: 20px 0px 40px;
    }
    .copyright img {
        max-width: 300px;
        margin: 25px auto 10px;
    }
}

/* MENU PAGE */
#menuPage {
    header {
        height: 80dvh;
        display: grid;
        grid-template-rows: max-content minmax(0px, 1fr);
    }
}

@media screen and (max-width: 1320px) {
    #hero .content h1 {
        font-size: clamp(2.5rem, 9vw, 8rem);
    }
    
}
@media screen and (max-width: 768px) {
    header {
        min-height: none;
        height: auto;
        padding-bottom: 80px;
    }
    header #subnav {
        position: static;
        .contain {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
        .logo {
            margin-right: auto;
        }
        .logo img {
            margin: 0px;
            width: 250px;
        }
    }
    #hero > div {
        grid-template-columns: 1fr;
        grid-template-areas: "image" "contents";
        gap: 40px;
        br {
            display: none;
        }
    }
    #hero .ic {
        grid-area: image;
        position: static;
        width: 100%;
        min-height: 300px;
        height: 50dvh;
        z-index: -1;
        img {
            display: block;
            height: 100%;
            object-position: bottom;
        }
    }
    #hero .content {
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            max-width: 430px;
            margin: 25px auto;
        }
        .btn {
            margin: 0px auto;
        }
    }
    nav {
        opacity: 1;
        padding: 25px 0px;
        .contain {
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }
        .logo img {
            margin: 0px 0px 0px auto;
        }
        .links {
            display: none;
        }
        #ham {
            display: flex;
        }
        a img {
            width: 1.25rem;
        }
        .links > a {
            padding: 0px;
        }
    }
    section {
        padding: 80px 0px;
    }
    #s1 h2 {
        text-align: center;
        margin-bottom: 25px;
    }
    #s1 .contain > div {
        grid-template-columns: 1fr;
        gap: 40px;
        p {
            text-align: center;
            margin: 0px auto;
        }
    }
    .separator .contain {
        display: block;
        hr {
            width: 80%;
            margin: 0px auto;
            border-image: 
                linear-gradient(to right, #1110, var(--blk), #1110) 1
            ;
        }
        p {
            margin: 25px auto;
        }
    }
    #s2 > a.btn {
        width: 90dvw;
        text-align: center;
    }
    #s2 #cards {
        flex-direction: column;
    }
    #s2 #cards .card {
        flex: 40dvh;
    }
    footer {
        .links {
            flex-direction: column;
            gap: 25px;
            &:nth-of-type(2) {
                margin-top: 25px;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    header #subnav {
        .logo {
            margin-left: auto;
        }
    }
}