@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');
:root {
    --main: #bc0038;
    --sec: #ffd8e6;
    --acc: #62c3d9;
    --blk: #111;
    --wht: #fefefe;
    --wdt: 90dvw;
    --gtr: 5dvw;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 1.125rem;
}
h1, h2, h3 {
    font-family: "Yellowtail", serif;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: var(--blk);
    font-weight: 500;
    transition: color 0.5s;
    &:hover {
        color: var(--main);
    }
}
hr {
    border: none;
    border-bottom: 1px solid var(--blk);
}
.contain {
    width: var(--wdt);
    max-width: 1200px;
    margin: 0px auto;
}
.btn {
    display: inline-block;
    border: 2px solid var(--main);
    font-weight: 500;
    color: var(--main);
    padding: 10px 30px;
    transition: background-color 0.5s, color 0.5s, letter-spacing 0.5s;
    &:hover {
        background-color: var(--main);
        color: var(--sec);
        letter-spacing: -0.05em;
    }
}
.drop {
    position: relative;
    &:hover > .drop-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    &:hover a:has(img) {
        border-color: var(--acc);
    }
}
.drop-menu {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    width: max-content;
    box-shadow: -2px 2px 1px #1112;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    z-index: 2;
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s
    ;
}
.logo img {
    display: block;
    margin: 0px auto;
}

header {
    height: 100dvh;
    position: relative;
}
header #subnav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 25px 0px;
    .contain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ". logo links";
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
    .logo {
        grid-area: logo;
        img {
            width: clamp(8rem, 100%, 13rem);
        }
    }
    .links {
        grid-area: links;
        justify-self: right;
        display: flex;
        align-items: center;
        gap: 25px;
    }
    a:has(img) {
        border-bottom: 2px solid transparent;
    }
    a img {
        width: 1.25rem;
    }
}
#hero, #hero > div, #hero .ic {
    height: 100%;
}
#hero > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". contents";
    align-items: center;
    gap: 60px;
}
#hero .ic {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48%;
    z-index: -1;
    img {
        display: block;
        height: 100%;
    }
}
#hero .content {
    grid-area: contents;
    h1 {
        font-size: clamp(2.5rem, 10vw, 8rem);
    }
    p {
        text-align: right;
        max-width: 380px;
        margin: 80px 0px 0px auto;
    }
    .btn {
        display: block;
        width: max-content;
        margin: 20px 0px 0px auto;
    }
}

nav {
    background-color: var(--sec);
    position: sticky;
    top: 0px;
    .contain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
    .logo img {
        width: clamp(5rem, 100%, 10rem);
    }
    .links {
        display: flex;
        align-items: center;
        gap: 25px;
        &:last-of-type {
            justify-self: end;
        }
    }
    a:has(img) {
        border-bottom: 2px solid transparent;
    }
    a img {
        width: 1.25rem;
    }
    .links > a {
        padding: 25px 0px;
    }
    .drop-menu {
        background-color: var(--sec);
    }
}

section {
    padding: 60px 0px;
}
#s1 h2 {
    font-size: clamp(2rem, 6dvw, 4rem);
    margin-bottom: 40px;
}
#s1 .contain > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
    p {
        max-width: 500px;
    }
    .ic {
        min-height: 300px;
        height: 100%;
        img {
            height: 100%;
            object-position: top;
        }
    }
}
.separator .contain {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 40px auto;
    hr {
        flex: 1;
        border-bottom: 1px solid var(--blk);
    }
    p {
        flex: 2;
        text-align: center;
        text-wrap: pretty;
    }
}
#s2 #cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
#s2 #cards .card {
    flex: 1;
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 1;
    > img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
}

@media screen and (max-width: 1320px) {
    #hero .content h1 {
        font-size: clamp(2.5rem, 9vw, 8rem);
    }
}
@media screen and (max-width: 768px) {
    header {
        min-height: 100dvh;
        height: auto;
    }
    #hero > div {
        grid-template-columns: 1fr;
        grid-template-areas: "image" "contents";
        gap: 60px;
    }
    #hero .ic {
        grid-area: image;
        position: static;
        width: 100%;
        z-index: -1;
        img {
            display: block;
            height: 100%;
        }
    }
}