/* General Resets */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
}
/* Reusable Classes / Template Classes */
.contain {
    width: 90vw;
    max-width: 1024px;
    margin: 0px auto;
}
.btn {
    display: inline-block;
    background-color: #eed814;
    padding: 10px 20px;
    color: #111;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 10px;
}

/* Navigation Styles */
#nav {
    background-color: #111;
}
#nav .navlinks {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#nav a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}
#nav .logo {
    font-size: 1.75rem;
    margin-right: auto;
}

/* Intro Section Styles */
#intro {
    margin: 80px 0px;
}
#intro .sbs {
    display: flex;
    align-items: center;
    gap: 40px;
}
#intro .image-container,
#intro .text-container {
    flex: 1;
}
#intro .image-container {
    height: 400px;
}
#intro img {
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
#intro h1 {
    font-size: 3rem;
    margin: 0px;
}
#intro p {
    font-size: 1.25rem;
    margin: 10px 0px 50px;
}

/* Cards Section (Grid) */
#cards {
    margin-bottom: 80px;
}
#cards .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "p1 p1 img1 img2"
        "p2 img3 p3 p3"
    ;
}
#cards #p1 {
    grid-area: p1;
}
#cards #p2 {
    grid-area: p2;
}
#cards #p3 {
    grid-area: p3;
}
#cards #img1 {
    grid-area: img1;
}
#cards #img2 {
    grid-area: img2;
}
#cards #img3 {
    grid-area: img3;
}
#p1,
#p2,
#p3 {
    border: 2px solid #eed814;
    border-radius: 20px;
    padding: 20px;
}
.card {
    height: 250px;
}
.card img {
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Media Queries */
/* 
    Max-width for media queries should be largest size for device type but you
    should be designing with the smallest device in mind to allow styles to
    generally stretch across a multitude of sizes for that device type.
*/
@media screen and (max-width: 1024px) and (min-width: 481px) {
    #intro .sbs {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    #intro .image-container,
    #intro .text-container {
        width: 100%;
    }
    #intro .image-container {
        flex: 100px;
    }
    #intro h1 {
        font-size: 2rem;
    }
    #intro p {
        font-size: 1.125rem;
        margin-bottom: 25px;
    }
    #cards .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "p1 p1"
            "img1 img1"
            "img2 p2"
            "img3 img3"
            "p3 p3"
        ;
    }
}
@media screen and (max-width: 480px) {
    /*
        You can use CSS grid to create two column layout for the nav as well.
    */
    #nav .navlinks {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #nav a {
        font-size: 1.125rem;
        flex: 1 50%;
    }
    #nav .logo {
        margin-left: auto;
        font-size: 1.5rem;
    }
    #intro {
        margin: 40px auto;
    }
    #intro .sbs {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    #intro .image-container,
    #intro .text-container {
        width: 100%;
    }
    #intro .image-container {
        flex: 100px;
    }
    #intro h1 {
        font-size: 2rem;
    }
    #intro p {
        font-size: 1.125rem;
        margin-bottom: 25px;
    }
}