/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
img {
    width: 100%;
    object-fit: cover;
}

#frame-1 {
    border: 10px outset #644305;
    margin: 70px 12px 0px;
    box-shadow: -2px 2px 2px #444;
}
#frame-1 div {
    background-color: antiquewhite;
    padding: 12px;
    box-shadow: inset -1px 1px 2px #444;
}
#frame-1 img {
    width: 80px;
    display: block;
}