/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
img {
    width: 100%;
    object-fit: cover;
}

#frame-1, #frame-2, #frame-3 {
    border: 10px groove #644305;
    margin: 10px 12px 0px;
    /* optional styles below */
    box-shadow: -2px 2px 2px #444;
    border-radius: 50% 50% 0px 0px;
    /* optional styles above */
}
.display-space div > div {
    background-color: antiquewhite;
    padding: 10px;
    /* optional styles below */
    box-shadow: inset -1px 1px 2px #444;
    border-radius: 50% 50% 0px 0px;
    /* optional styles above */
}
#frame-2 {
    border-style: groove;
}
#frame-3 {
    border-style: ridge;
}
#frame-2, #frame-2 div, #frame-2 img {
    border-radius: 50%;
}
#frame-3, #frame-3 div, #frame-3 img {
    border-radius: 0px 0px 50% 50%;
}
.display-space img {
    width: 80px;
    display: block;
    /* optional styles below */
    height: 80px;
    border-radius: 50% 50% 0px 0px;
    /* optional styles above */
}

.display-space .plaque {
    border: 5px outset #644305;
    margin: 50px auto 0px;
    max-width: 50%;
    div {
        padding: 5px;
        background-color: #644305;
        border-radius: 0px;
        box-shadow: 
            inset 0px 0px 1px #1d1301,
            0px 0px 1px #1d1301
        ;
    }
    h2, p {
        margin: 0px;
        font-size: 0.75rem;
        color: #fff;
        text-align: center;
    }
    p {
        font-size: 0.5rem;
        margin-top: 5px;
        letter-spacing: 0.05em;
    }
    h2 {
        color: #ffa200;
        border-bottom: 0.5px solid #ffff;
        padding-bottom: 2px;
    }
}