/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-1 {
    background-color: #eeffee;
    box-shadow: 2px 2px 10px #555;
    margin: 16px;
    width: 350px;
}
.card-style-1 h2, .card-style-1 p {
    padding: 0px 24px;
}
.card-style-1 img {
    width: 100%;
}
.card-style-1 a {
    background-color: green;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 24px 0px;
    font-size: 20px;
    transition:  opacity 0.25s;
}
.card-style-1 a:hover {
    opacity: 0.8;
}