@import url('https://fonts.googleapis.com/css2?family=Jua&family=Quicksand:wght@300..700&family=Sigmar&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Quicksand", serif;
    font-size: 1.125rem;
}
h1, h2, h3 {
    font-family: "Sigmar", serif;
    /* font-family: "Jua", serif; */
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    display: inline-block;
    text-decoration: none;
}

.contain {
    width: 90dvw;
    max-width: 1200px;
    margin: 0px auto;
}

header {
    background:
        url("../images/hero.jpg")
    ;
    background-size: cover;
    min-height: 50vh;
}
nav .contain {
    display: flex;
    gap: 25px;
    align-items: center;
}