* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: #000042;
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar a:hover {
    background-color: #a47b38;
}
#navbar #logo {
    font-size: 36px;
    font-weight: bold;
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-16px);
    background-color: #a47b38;
    width: 200px;
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 1s
    ;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#navbar .dropdown-menu a:hover {
    color: #000042;
    background-color: transparent;
}
.dropdown-container i {
    transition: transform 0.75s;
}
.dropdown-container:hover i {
    transform: rotate(180deg);
}